<li class="nav-item logged-user-name">
    @User.Identity.Name
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout">
        <i class="fas fa-sign-out-alt"></i>
    </a>
</li>