@model FormulaOneProject.Models.TeamViewModel

@{
    ViewData["Title"] = "Create";
}

<h4 align="center">Team</h4>
<hr />
<div class="row justify-content-md-center">
    <div class="col-md-6">
        <form asp-action="AddOrEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TeamID" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" data-toggle="tooltip" data-placement="bottom" title="Egyedi név megadása kötelező! Ugyan olyan nevű csapat nem szerepelhet, ami már meg van adva!" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="YearOfFoundation" class="control-label"></label>
                    <select asp-for="YearOfFoundation" class="form-control" asp-items="@(new SelectList(Model.Years, "YearID", "YearOfFoundation"))">@Model.YearOfFoundation</select>
                    <span asp-validation-for="YearOfFoundation" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="NumberOfWinWorldChamp" class="control-label"></label>
                    <input asp-for="NumberOfWinWorldChamp" class="form-control" />
                    <span asp-validation-for="NumberOfWinWorldChamp" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group-paid">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsPaidEntryFee" /> @Html.DisplayNameFor(model => model.IsPaidEntryFee)
                </label>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="submit" value="Mentés" class="btn btn-primary btn-block" />
                </div>
                <div class="form-group col-md-6">
                    <a asp-action="Index" class="btn btn-secondary btn-block"><i class="fa fa-table"></i> Vissza a listához</a>
                </div>
            </div>
        </form>
    </div>
</div>

<br />
<h2 align="center" class="text-danger">@ViewBag.Message</h2>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
